.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-item {
  list-style: none;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first-letter {
  margin: 0px;
  height: 40px;
  width: 40px;
}
